@import "tailwindcss";

body{
  background-color: black;
}

.font-cormorant{
  font-family: var(--font-cormorant);
}

.font-newsreader{
  font-family: var(--font-newsreader);
}

.font-jetbrains-mono{
  font-family: var(--font-jetbrains-mono);
}